<div class="layui-layout layui-layout-admin" style="padding-left: 40px;margin-top: 20px;">
    <form class="layui-form" action="" method="post" >
        <div class="layui-form-item">
            <label class="layui-form-label">按意向 0 /按账单 1</label>
            <div class="layui-input-inline">
                <input type="text" name="way" id="way" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="0">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">用户id</label>
            <div class="layui-input-inline">
                <input type="text" name="lUserId" id="lUserId" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">金额</label>
            <div class="layui-input-inline">
                <input type="text" name="lAmount" id="lAmount" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="10000">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">支付密码(加密后)</label>
            <div class="layui-input-inline">
                <input type="text" name="strPayPassword" id="strPayPassword" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="670b14728ad9902aecba32e22fa4f6bd">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">资金方id</label>
            <div class="layui-input-inline">
                <input type="text" name="nBorrowMode" id="nBorrowMode" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="{{.admin.phone}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">lBorrowIntentId</label>
            <div class="layui-input-inline">
                <input type="text" name="lBorrowIntentId" id="lBorrowIntentId" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="{{.admin.phone}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">lBillId</label>
            <div class="layui-input-inline">
                <input type="text" name="lBillId" id="lBillId" lay-verify="required" autocomplete="off" placeholder="" class="layui-input" value="{{.admin.phone}}">
            </div>
            <div class="layui-form-mid layui-word-aux">*</div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit="" lay-filter="sub">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>

<script>
    var $;
    layui.config({
        base : "js/"
    }).use(['form','element','layer','jquery'],function(){
        var form = layui.form; //只有执行了这一步，部分表单元素才会自动修饰成功
        var $ = layui.jquery;

        form.on('submit(sub)', function(data){
            var form_data = $("form").serialize();
            $.post('{{urlfor "ApolloRepayController.Run"}}', form_data, function (out) {
                // if (out.status == 0) {
                //     layer.msg("操作成功,请重新登录",{icon: 1,shade:0.3,time:1000},function () {
                //         top.location.href="/login_out"
                //     })
                // } else {
                //     layer.msg(out.message)
                // }
                // $("#traceId").val(out.message);
                layer.msg("res:" + out.message);
            }, "json");
            return false;
        });
        //但是，如果你的HTML是动态生成的，自动渲染就会失效
        //因此你需要在相应的地方，执行下述方法来手动渲染，跟这类似的还有 element.init();
        form.render();
    });
</script>

<script src="/static/admin/js/jquery.min.js"></script>